body {
  background-color: #303F9F; }

#registerForm {
  width: 305px;
  height: 300px;
  margin: 70px;
  position: relative;
  color: white;
  font-family: Arial;
  text-align: center; }

.input {
  width: 305px;
  height: 35px;
  margin: 4px 0px;
  padding: 5px 7px;
  color: #7C8A99;
  background-color: white;
  border: 0px solid #9CAAB9;
  border-bottom-width: 2px;
  border-right-width: 2px;
  border-radius: 7px;
  outline: 0;
  transition: .325s all ease; }

.password {
  margin-top: -39px;
  display: none; }

input {
  box-shadow: none; }

.button {
  margin-top: -15;
  display: none; }

.fake-button {
  margin-top: 4px;
  text-align: center;
  cursor: pointer;
  float: left;
  display: block;
  margin-left: 50%;
  transform: translateX(-50%); }

.email {
  margin-left: calc(50% + -1px);
  transform: translateX(-50%);
  z-index: 100;
  position: relative; }

.password-anim {
  animation: move-password-box 0.35s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 0.3s;
  display: block;
  opacity: 0;
  z-index: 25; }

.button-anim {
  animation: move-button 0.25s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 0.7s;
  display: block;
  opacity: 0;
  z-index: 20; }

.password-anim-reverse {
  animation: move-password-box-reverse 0.35s ease-in-out;
  animation-fill-mode: forwards; }

.button-anim-reverse {
  animation: move-button-reverse 0.25s ease-in-out;
  animation-fill-mode: forwards; }

.email-revert {
  animation: revert-email-box 0.4s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 0.3s;
  background-color: #ffffff;
  border: 0; }

.button {
  width: 140px;
  height: 35px;
  background-color: #388E3C;
  color: white;
  border: 0px solid #2E7D32;
  border-bottom-width: 2px;
  border-right-width: 2px;
  border-radius: 10px;
  float: right;
  cursor: pointer; }

.button:hover {
  background-color: #2E7D32; }

@keyframes move-password-box {
  from {
    transform: translateY(0);
    opacity: 1; }
  to {
    transform: translateY(43px);
    opacity: 1; } }
@keyframes move-button {
  from {
    transform: translateY(0);
    opacity: 1; }
  to {
    transform: translateY(43px);
    opacity: 1; } }
@keyframes move-password-box-reverse {
  to {
    transform: translateY(0);
    opacity: 0; }
  99% {
    opacity: 1; }
  from {
    transform: translateY(43px);
    opacity: 1; } }
@keyframes move-button-reverse {
  to {
    transform: translateY(-43px);
    opacity: 0; }
  20% {
    transform: translateY(-43px);
    opacity: 0; }
  99% {
    opacity: 1; }
  from {
    transform: translateY(43px);
    opacity: 1; } }
@keyframes revert-email-box {
  0% {
    width: 305px;
    background-color: #ffffff; }
  100% {
    width: 30px;
    opacity: 0;
    border-radius: 100px;
    background-color: #000000; } }
/* Loading Circle */
.loadingCircle {
  position: absolute;
  background-color: black;
  border-radius: 180px; }

#loadingCircles {
  display: none;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 4px;
  margin-left: 50%;
  transform: translateX(-50%); }

#loadingCircle1 {
  width: 30px;
  height: 30px;
  background-color: black;
  border-radius: 180px;
  opacity: 0.5;
  animation: loading-circle 1.5s;
  animation-iteration-count: infinite; }

#loadingCircle2 {
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 180px;
  opacity: 0.3;
  top: 5px;
  left: 5px;
  animation-iteration-count: infinite;
  animation-delay: 0.75s; }

@keyframes loading-circle {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(0.66); }
  100% {
    transform: scale(1); } }
@keyframes loading-circle2 {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }
.check {
  width: 20px;
  height: 20px;
  margin-top: 10px; }

.result {
  transition: .3s ease opacity; }

/*# sourceMappingURL=style.css.map */
