/* TRANSITION SPEEDS */

.registerButton {
	-webkit-transition: all .7s ease;  
	-moz-transition: all .7s ease;  
	-o-transition: all .7s ease;  
	-ms-transition: all .7s ease;  
	transition: all .7s ease;
}

.textBox {
	-webkit-transition: all .5s ease;  
	-moz-transition: all .5s ease;  
	-o-transition: all .5s ease;  
	-ms-transition: all .5s ease;  
	transition: all .5s ease;
}

.submitButton {
	-webkit-transition: all 1s ease;  
	-moz-transition: all 1s ease;  
	-o-transition: all 1s ease;  
	-ms-transition: all 1s ease;  
	transition: all 1s ease;
}

.passwordTextBox {
	-webkit-transition: all .35s ease;  
	-moz-transition: all .35s ease;  
	-o-transition: all .35s ease;  
	-ms-transition: all .35s ease;  
	transition: all .35s ease;
}


/* TRANSITIONS */
.animateRegisterButton { /* Register button turns in to a MOCK UP of your text box style, change what's needed so it looks identical to the textbox you use */
	border-color: #9CAAB9; /* Textbox border color */
	background-color: white; /* Textbox background color */

	width: 340px; /* With of your textbox */ 
	height: 45px; /* Height of your textbox */
	padding-top: -3;
	border-size: 1px; 
	border-style: solid; /* */

	transform: translateX(-50px); /* button width - textbox width (how much register button needs to grow to become same size as textbox) */
	color: #7C8A99; /* Font color */
}

.submitButton {
	top: -163px; /* Position submitButton where username textbox will turn up, at the very right */
	left: 152px; /* Make sure it's at the end of the username textbox */
}

#form {
	width: 200px; /* Width of register button */
	height: 50px; /* Height of register button */
}

.animateRegisterButton:hover {
	background-color: white; /* Your textbox background color */
}

.animatePasswordTextBox {
	transform: translateY(55px); /* Height of textbox + margin (10px margin for example) */
}

.animateSubmitButton {
	transform: translateY(208px); /* What distance submit button needs to go to get to the bottom, experiment at bit to get good results */
}

.animateSubmitButtonUpwards {
	transform: translateY(-15px); /* When submit button animates upwards again, how far? Experiment with this a bit too to get good results! */
}

.animatePasswordTextBoxUpwards {
	transform: translateY(0px); /* When password textbox goes upwards again, experiment with this value */
}

/* To more deeply configure, edit the "Transitions.css" file. Line 98 is animation for when textbox shrinks to become loading circle. */