/* HIDE ON LOAD */
.usernameTextBox, .passwordTextBox, .submitButton, .spinner {
	display: none;
}

.textBox {
	position: relative;
	margin-left: -50px;
}

.submitButton {
	z-index: 3;
	position: relative;
}

.usernameTextBox {
	z-index: 5;
	position: relative;
}

.passwordTextBox {
	z-index: 4;

	position: absolute;
	margin-top: -47px;
}

.animateRegisterButtonToCircle {
	width: 10px;
	min-width: 0px;

	transform: translateX(150px);
	border-radius: 180px;
	background-color: black;
	opacity: 0;
}

/*
BEGIN DOUBLE BOUNCE ANIMATION
*/

.spinner {
  width: 40px;
  height: 40px;

  position: absolute;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/*
END DOUBLE BOUNCE ANIMATION
*/